{% extends 'base.html.twig' %}

{% block title %}Listado de Productos{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Listado de Productos</h1>
    <p>
        {{ form(form) }}
    </p>
    <table>
        <thead>
            <tr>
                <td><strong>ID</strong></td>
                <td><strong>FECHA</strong></td>
                <td><strong>NOMBRE</strong></td>
                <td><strong>N.EXISTENCIAS</strong></td>
                <td><strong>Editar</strong></td>
                <td><strong>Borrar</strong></td>
            </tr> 
        </thead>
        <tbody>      
            {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.fecha }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.existencia }}</td>
                <td><strong><a href="{{ path('editar_producto', {'id': producto.id}) }}" />E</a></strong></td>
                <td><strong><a href="{{ path('borrar_producto', {'id': producto.id}) }}" onclick="return confirm('Estas seguro de borrar el registro número {{ producto.id }}?')" />X</a></strong></td>
            </tr>
            {% endfor %}   
        </tbody>      
    </table>
</div>
{% endblock %}
